<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puhj.rye.mapper.DictionaryMapper">
    <select id="list" resultType="com.puhj.rye.vo.DictionaryListVO">
        select id,
        dict_name,
        dict_text,
        item_value,
        item_text,
        description,
        create_time,
        update_time
        from dictionary
        <where>
            <if test="dictName != null and dictName != ''">
                and dict_name like concat('%',#{dictName},'%')
            </if>
            <if test="itemText != null and itemText != ''">
                and item_text like concat('%',#{itemText},'%')
            </if>
        </where>
        order by id
    </select>
</mapper>
