<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puhj.rye.mapper.FileMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.puhj.rye.entity.File">
        <id column="id" property="id"/>
        <result column="path" property="path"/>
        <result column="name" property="name"/>
        <result column="file_size" property="fileSize"/>
        <result column="uuid" property="uuid"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_time" property="deleteTime"/>
    </resultMap>

    <select id="selectByPath" parameterType="java.lang.String" resultType="com.puhj.rye.entity.File">
        select id,
               path,
               name,
               file_size,
               uuid,
               create_time,
               update_time,
               delete_time
        from file
        where path = #{path}
    </select>

    <update id="deleteByPath" parameterType="java.lang.String">
        update file
        set delete_time = now()
        where path = #{path}
    </update>
</mapper>
