<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puhj.rye.mapper.FileMapper">
    <resultMap id="fileList" type="com.puhj.rye.vo.FileInfoVO">
        <id column="id" property="id"/>
        <result column="path" property="path"/>
        <result column="name" property="name"/>
        <result column="file_size" property="fileSize"/>
        <result column="uuid" property="uuid"/>
        <result column="upload_time" property="uploadTime"/>
        <association property="uploadUser" javaType="com.puhj.rye.bo.UserBO">
            <result column="upload_user_id" property="id"/>
            <result column="upload_user_username" property="username"/>
            <result column="upload_user_name" property="name"/>
        </association>
    </resultMap>

    <update id="deleteByPath">
        update file
        set delete_user=#{userId},
            delete_time = now()
        where path = #{path}
    </update>

    <select id="list" resultMap="fileList">
        select f.id,
        f.path,
        f.name,
        f.file_size,
        f.uuid,
        f.upload_time,
        u.id as upload_user_id,
        u.username as upload_user_username,
        u.name as upload_user_name
        from file f
        left join user u on f.upload_user = u.id
        <where>
            f.delete_time is null
            and (f.upload_user = #{currentUserId} or
            'admin' in (select r.code from user_role ur
            left join role r on ur.role_id = r.id where ur.user_id = #{currentUserId}))
            <if test="name != null and name != ''">
                and f.name like concat('%',#{name},'%')
            </if>
            <if test="uploadUser != null and uploadUser != ''">
                and u.name like concat('%',#{uploadUser},'%')
            </if>
        </where>
        order by f.id desc
    </select>
</mapper>
