<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puhj.rye.mapper.PermissionMapper">
    <select id="selectListByRoleId" parameterType="java.lang.Integer" resultType="com.puhj.rye.entity.Permission">
        select id,
               name,
               info,
               menu,
               menu_name,
               create_user,
               update_user,
               create_time,
               update_time
        from permission
        where id in (select permission_id from role_permission where role_id = #{roleId})
    </select>

    <select id="selectPageList" parameterType="com.puhj.rye.dto.PermissionPageDTO"
            resultType="com.puhj.rye.vo.PermissionListVO">
        select id,
        name,
        info,
        menu,
        menu_name,
        create_time,
        update_time
        from permission
        <where>
            <if test="permissionPageDTO.name != null and permissionPageDTO.name != ''">
                and name like concat('%',#{permissionPageDTO.name},'%')
            </if>
            <if test="permissionPageDTO.info != null and permissionPageDTO.info != ''">
                and info like concat('%',#{permissionPageDTO.info},'%')
            </if>
            <if test="permissionPageDTO.menuName != null and permissionPageDTO.menuName != ''">
                and menu_name like concat('%',#{permissionPageDTO.menuName},'%')
            </if>
        </where>
    </select>
</mapper>
