<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puhj.rye.mapper.PostMapper">
    <resultMap id="postList" type="com.puhj.rye.vo.PostInfoVO">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="postStatus" javaType="com.puhj.rye.bo.DictionaryBO">
            <result column="status_value" property="dictValue"/>
            <result column="status_label" property="dictLabel"/>
        </association>
        <association property="createUser" javaType="com.puhj.rye.bo.UserBO">
            <result column="create_user_id" property="id"/>
            <result column="create_user_username" property="username"/>
            <result column="create_user_name" property="name"/>
        </association>
        <association property="updateUser" javaType="com.puhj.rye.bo.UserBO">
            <result column="update_user_id" property="id"/>
            <result column="update_user_username" property="username"/>
            <result column="update_user_name" property="name"/>
        </association>
        <collection property="roles" column="{postId=id}" javaType="java.util.List"
                    ofType="com.puhj.rye.bo.RoleBO" select="selectRolesByPostId">
        </collection>
    </resultMap>

    <insert id="insertRoleIdsByPostId">
        insert into post_role(post_id, role_id) values
        <foreach collection="roleIds" item="roleId" index="index" separator=",">
            (#{postId},#{roleId})
        </foreach>
    </insert>

    <delete id="deleteRoleIdsByPostId">
        delete
        from post_role
        where post_id = #{postId}
        and role_id in
        <foreach collection="roleIds" item="roleId" index="index" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

    <select id="selectRoleIdsByPostId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select role_id
        from post_role
        where post_id = #{postId}
    </select>

    <select id="list" resultMap="postList">
        select p.id,
        p.code,
        p.name,
        p.remark,
        p.create_time,
        p.update_time,
        d.dict_value as status_value,
        d.dict_label as status_label,
        u1.id as create_user_id,
        u1.username as create_user_username,
        u1.name as create_user_name,
        u2.id as update_user_id,
        u2.username as update_user_username,
        u2.name as update_user_name
        from post p
        left join dictionary d on d.dict_type = 'post_status' and p.post_status = d.dict_value
        left join user u1 on p.create_user = u1.id
        left join user u2 on p.update_user = u2.id
        <where>
            p.delete_time is null
            <if test="code != null and code != ''">
                and p.code like concat('%',#{code},'%')
            </if>
            <if test="name != null and name != ''">
                and p.name like concat('%',#{name},'%')
            </if>
        </where>
        order by p.id
    </select>

    <select id="selectRolesByPostId" resultType="com.puhj.rye.bo.RoleBO">
        select r.id, r.code, r.name
        from role r
                 left join post_role pr on r.id = pr.role_id
        where pr.post_id = #{postId}
    </select>
</mapper>
