<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puhj.rye.mapper.RoleMapper">
    <resultMap id="roleList" type="com.puhj.rye.vo.RoleListVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="info" property="info"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <collection property="permissions" javaType="java.util.List" ofType="com.puhj.rye.vo.PermissionSimpleVO">
            <id column="pid" property="id"/>
            <result column="pname" property="name"/>
            <result column="pinfo" property="info"/>
        </collection>
    </resultMap>

    <select id="selectListByUserId" parameterType="java.lang.Integer" resultType="com.puhj.rye.entity.Role">
        select id,
               name,
               info,
               create_time,
               update_time,
               delete_time
        from role
        where id in (select role_id from user_role where user_id = #{userId})
    </select>

    <select id="selectPageList" parameterType="com.puhj.rye.dto.RolePageDTO" resultMap="roleList">
        select r.id,
        r.name,
        r.info,
        r.create_time,
        r.update_time,
        p.id pid,
        p.name pname,
        p.info pinfo
        from role r
        left join role_permission rp on r.id = rp.role_id
        left join permission p on rp.permission_id = p.id
        <where>
            <if test="rolePageDTO.name != null and rolePageDTO.name != ''">
                and r.name like concat('%',#{rolePageDTO.name},'%')
            </if>
            <if test="rolePageDTO.info != null and rolePageDTO.info != ''">
                and r.info like concat('%',#{rolePageDTO.info},'%')
            </if>
        </where>
    </select>
</mapper>
