<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puhj.rye.mapper.RoleMapper">
    <resultMap id="roleList" type="com.puhj.rye.vo.RoleInfoVO">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="roleStatus" javaType="com.puhj.rye.bo.DictionaryBO">
            <result column="status_value" property="dictValue"/>
            <result column="status_label" property="dictLabel"/>
        </association>
        <association property="createUser" javaType="com.puhj.rye.bo.UserBO">
            <result column="create_user_id" property="id"/>
            <result column="create_user_username" property="username"/>
            <result column="create_user_name" property="name"/>
        </association>
        <association property="updateUser" javaType="com.puhj.rye.bo.UserBO">
            <result column="update_user_id" property="id"/>
            <result column="update_user_username" property="username"/>
            <result column="update_user_name" property="name"/>
        </association>
        <collection property="permissions" column="{roleId=id}" javaType="java.util.List"
                    ofType="com.puhj.rye.bo.PermissionBO" select="selectPermissionsByRoleId">
        </collection>
    </resultMap>

    <insert id="insertPermissionIdsByRoleId">
        insert into role_permission(role_id, permission_id) values
        <foreach collection="permissionIds" item="permissionId" index="index" separator=",">
            (#{roleId},#{permissionId})
        </foreach>
    </insert>

    <delete id="deletePermissionIdsByRoleId">
        delete
        from role_permission
        where role_id = #{roleId}
        and permission_id in
        <foreach collection="permissionIds" item="permissionId" index="index" open="(" separator="," close=")">
            #{permissionId}
        </foreach>
    </delete>

    <select id="selectPermissionIdsByRoleId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select permission_id
        from role_permission
        where role_id = #{roleId}
    </select>

    <select id="list" resultMap="roleList">
        select r.id,
        r.code,
        r.name,
        r.create_time,
        r.update_time,
        d.dict_value as status_value,
        d.dict_label as status_label,
        u1.id as create_user_id,
        u1.username as create_user_username,
        u1.name as create_user_name,
        u2.id as update_user_id,
        u2.username as update_user_username,
        u2.name as update_user_name
        from role r
        left join dictionary d on d.dict_type = 'role_status' and r.role_status = d.dict_value
        left join user u1 on r.create_user = u1.id
        left join user u2 on r.update_user = u2.id
        <where>
            r.delete_time is null
            <if test="code != null and code != ''">
                and r.code like concat('%',#{code},'%')
            </if>
            <if test="name != null and name != ''">
                and r.name like concat('%',#{name},'%')
            </if>
        </where>
        order by r.id
    </select>

    <select id="selectPermissionsByRoleId" resultType="com.puhj.rye.bo.PermissionBO">
        select p.id,
               p.code,
               p.name,
               p.menu
        from permission p
                 left join role_permission rp on p.id = rp.permission_id
        where rp.role_id = #{roleId}
           or #{roleId} = 1
    </select>
</mapper>
