<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puhj.rye.mapper.RoleMapper">
    <resultMap id="roleList" type="com.puhj.rye.vo.RoleListVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="info" property="info"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <collection property="permissions" column="id" javaType="java.util.List"
                    ofType="com.puhj.rye.vo.PermissionSimpleVO" select="getPermissionsByRoleId">
        </collection>
    </resultMap>

    <select id="list" resultMap="roleList">
        select id,
        name,
        info,
        create_time,
        update_time
        from role
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="info != null and info != ''">
                and info like concat('%',#{info},'%')
            </if>
        </where>
        order by id
    </select>

    <select id="getPermissionsByRoleId" resultType="com.puhj.rye.vo.PermissionSimpleVO">
        select p.id,
               p.name,
               p.info
        from role_permission rp
                 left join permission p on rp.permission_id = p.id
        where rp.role_id = #{id}
    </select>
</mapper>
