<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puhj.rye.mapper.UserMapper">
    <resultMap id="userList" type="com.puhj.rye.vo.UserListVO">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="avatar" property="avatar"/>
        <result column="email" property="email"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="userStatus" javaType="com.puhj.rye.vo.UserStatusVO">
            <result column="item_value" property="itemValue"/>
            <result column="item_text" property="itemText"/>
        </association>
        <collection property="roles" column="id" javaType="java.util.List" ofType="com.puhj.rye.vo.RoleSimpleVO"
                    select="getRolesByUserId">
        </collection>
    </resultMap>

    <select id="list" resultMap="userList">
        select u.id,
        u.username,
        u.nickname,
        u.phone,
        u.avatar,
        u.email,
        u.create_time,
        u.update_time,
        d.item_value,
        d.item_text
        from user u
        left join dictionary d on d.dict_name = 'user_status' and u.user_status = d.item_value
        <where>
            <if test="username != null and username != ''">
                and u.username like concat('%',#{username},'%')
            </if>
            <if test="phone != null and phone != ''">
                and u.phone like concat('%',#{phone},'%')
            </if>
            <if test="email != null and email != ''">
                and u.email like concat('%',#{email},'%')
            </if>
        </where>
        order by u.id
    </select>

    <select id="getRolesByUserId" resultType="com.puhj.rye.vo.RoleSimpleVO">
        select r.id,
               r.name,
               r.info
        from role r
                 left join user_role ur on r.id = ur.role_id
        where ur.user_id = #{id}
    </select>
</mapper>
